button {
  border: none;
  background-color: transparent;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  width: calc(100% - 6rem);
  transition: all .2s linear;

  &[disabled] {
    opacity: .4;
    cursor: not-allowed;
  }

  &:hover {
    transform: scale(1.02);
  }
  
  &:focus {
    transform: scale(.98);
  }

  &.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
      background-color: #1F64FF;
    }
  }
}