.small-cards {
  display: flex;
  gap: 1.75rem;

  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--elevation-shadow);
    border-radius: .875rem;

    
  }
}