@import url('../css/tokens.css');

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
  font-family: "Nunito Sans", sans-serif;
  color: var(--text);
  height: 100vh;
  overflow: hidden;

  main {
    display: flex;
    height: 100%;
    overflow: hidden;

    .logo {
      padding: 2rem 0;
    }

    .section {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      .container {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        padding: 30px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .title {
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: -0.4px;
        }
      }
    }
  }
}

/* STYLE SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

  &:hover {
    background: #B9B9B9;
  }
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #B9B9B9;
}